#modal-designer {
  background-color: #fff;
  border-radius: 4px;
  min-width: 500px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100001;
}
#modal-designer a{
border: 1px solid #ccc;
border-radius: 3px;
color: #ff0000;
font-size: 11px;
font-weight: bold;
left: 6px;
padding: 4px 5px;
position: relative;
top: 8px;
z-index: 1;
}
#modal-design-bg{
background: #000 none repeat scroll 0 0;
float: left;
height: 100%;
left: 0;
opacity: 0.5;
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
}

